.start-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background: #4d4d4d;
    overflow: hidden;

    .background {
        height: 100%;
    }

    .start-button {
        position: absolute;
        bottom: 100px;
        width: 600px;
        cursor: pointer;
        transition: 
            transform 0.24s ease-in-out,
            filter 0.24s ease-in-out;

        &:hover {
            transform: scale(110%);
            filter: brightness(110%);
        }
    }
}