.player-display {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 70px;
    right: 0;
}

.add-player {
    align-self: flex-end;
    margin-right: 16px;
}


@media screen and (max-width: 500px) {
    .player-display {
        gap: 12px;
    }
}