$top: -180px;
$left: 180px;
$top-mobile: -165px;
$left-mobile: 100px;


.game-screen {
    display: flex;
    width: 100dvw;
    height: 100dvh;

    .background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .restart {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 32px;
        color: white;
        font-size: 30px;
        background: #f44336;
        border-radius: 30px;
        box-shadow: 15px 40px 6px rgba(0, 0, 0, 0.5);
        transform: translate(-50%, -50%);
        transition: all 0.14s ease-in-out;
        cursor: pointer;
        user-select: none;

        &:hover {
            transform:
                translate(-50%, -50%)
                scale(1.2);
        }

        h2 {
            margin: 0;
        }
    }

    .card-stack {
        position: absolute;
        top: 40%;
        left: 45%;
        width: 120px;
        transform: translate(-50%, -50%);

        img {
            position: absolute;
            width: 100%;
            filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.5));
        }

        .top-card {
            transition: transform 0.14s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.12);
            }
        }

        .drawn-card {
            top: $top;
            left: $left;
            transform:
                scale(1.3)
                rotate(-35deg);
        }

        .draw-animation {
            top: $top;
            left: $left;
            transform:
                scale(1.3)
                rotate(-35deg);
            animation: draw-card 2s ease-in-out;
        }
    }
}


@media screen and (max-width: 500px) {
    $top: -165px;
    $left: 100px;


    .game-screen {
        .card-stack {
            top: 45%;
            left: 30%;
            width: 80px;

            .drawn-card {
                top: $top;
                left: $left;
            }
    
            .draw-animation {
                top: $top;
                left: $left;
                animation: draw-card-mobile 2s ease-in-out;
            }
        }

    }
}


@keyframes draw-card {
    0% {
        top: 0;
        left: -32px;
        transform: scale(1.12);
    }

    65% {
        top: 0;
        left: 0px;
        transform: scale(1.6); 
    }

    90% {
        top: $top;
        left: $left;
        transform:
            scale(1.3)
            rotate(-35deg);
    }

    100% {
        top: $top;
        left: $left;
        transform:
            scale(1.3)
            rotate(-35deg);
    }
}

@keyframes draw-card-mobile {
    0% {
        top: 0;
        left: -32px;
        transform: scale(1.12);
    }

    65% {
        top: 0;
        left: 0px;
        transform: scale(1.6); 
    }

    90% {
        top: $top-mobile;
        left: $left-mobile;
        transform:
            scale(1.3)
            rotate(-35deg);
    }

    100% {
        top: $top-mobile;
        left: $left-mobile;
        transform:
            scale(1.3)
            rotate(-35deg);
    }
}